@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700&display=swap');

/* GENERAL */

:root{
    --main-color: #24478F;
    --accent-one: #81A4CD;
    --accent-two: #CCF7FF;

    --main-font: "Playfair Display", serif;
    --paragraph-font: Montserrat, Helvetica, sans-serif;
}

body::-webkit-scrollbar-track {
    border: none;
    border-radius: 10px;
    margin-top: -3px;
    margin-bottom: -3px;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color: var(--accent-one);
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    font-family: var(--paragraph-font);
    font-weight: bold;
    margin-bottom: 50px;
    padding-top: 10px;
    width: 100%;
    height: 5rem;
}

.logo-container {
    margin-left: 5rem;
    align-self: center;
    padding-top: 10px;
}

#nav-img {
    width: 10rem;
}

nav {
    margin-left: auto;
    margin-right: 5rem;
    align-self: center;
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
    padding-right: 2rem;  
    padding-left: 2rem;
    padding: 1rem 2rem;
}

nav a:hover {
    transition: .15s;
    background-color: var(--accent-two);
    border-radius: 10px
}

.a4 {
    margin-left: 1.5em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: solid 2px;
    border-radius: 10px
}

.a4:hover {
    color: white;
    background-color: var(--main-color);
}

/* MAIN INDEX PAGE*/

    /* Hero Section */
    #hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    section {
        padding: 0 5rem
    }

    #hero-msg {
        margin: 0 auto;
        overflow: hidden;
    }

    #hero-img {
        width: 616px;
        height: 770px;
    }

    #hero-img:hover {
        transform: scale(1.1);
        transition: 0.3s;
        opacity: 0.8;
    }

    #hero-box {
        padding-right: 0;
        padding-left: 10rem;
    }

    #hero-box h1 {
        margin-top: 5rem;
        font-size: 4rem;
    }

    #hero-box p {
        font-family: var(--paragraph-font); 
        font-size: 1.123em;
    }

    #hero-box p:nth-child(5) {
        margin-bottom: 3rem;
    }

    #hero-box a {
        font-family: var(--paragraph-font);
        background-color: var(--main-color);
        border-radius: 10px;
        border: solid 3px var(--main-color);
        padding: 1.1rem 1.5rem;
        display: flex;
        align-items: center;
        width: 9.64rem;

        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        text-align: center;
    }

    #hero-box a:hover {
        border: solid 3px var(--main-color);
        background-color: white;
        color: var(--main-color);
        transition: .15s;
    }

    /* Sample Works */

    .sample-works {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .5fr 1fr .5fr;
        grid-gap: 1em;

        margin-top: 10rem;
        background-color: var(--main-color);
    }
    
    .sample-works h3 {
        grid-column: 2 / 3;
        color: white;
        margin: auto auto;
        font-size: 4rem;
        font-family: var(--main-font);
    }

    .sample-works div {
        grid-row: 2 / 3;
        border: solid 7px var(--main-color);
        border-radius: 10px;
        background-color: white;
    }

    .sample-works div:hover {
        cursor: pointer;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
        transition: .15s;
        overflow: hidden; 
    }

    .sample-works div img {
        width: 553.328px;
        height: 368.922px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .sample-works div img:hover {
        transform: scale(1.2);
        transition: 0.3s;
        opacity: 0.8;
    }

    .sample-works div p {
        padding: 2rem 2rem;

        color: var(--main-color);
        font-weight: bold;
        font-size: 1.2rem;
        font-family: var(--paragraph-font);
    }

    .sample-works a {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        margin: auto auto;
        padding: 1.6rem 2.5rem;

        text-decoration: none;
        color: var(--main-color);
        font-size: 2rem;
        font-family: var(--paragraph-font);
        background-color: var(--accent-two);
        border-radius: 10px;
        border: solid 3px var(--accent-two);
    }

    .sample-works a:hover {
        border: solid 3px var(--accent-two);
        color: white;
        background-color: var(--main-color);
        transition: .15s;
    }

    /* Testimonials */

    .testimonies {
        display: grid;
        grid-template-rows: .5fr 1fr 1fr;

        margin-top: 5rem;
    }
    
    .testimonies h3 {
        margin: auto auto;
        font-family: var(--main-font);
        font-size: 4rem;
        color: var(--main-color);
    }

    .testimonies-container1, .testimonies-container2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: solid 3px var(--main-color);
        
        margin-bottom: 3rem;
        padding: 2rem
    }

    .testimonies-container1:hover, .testimonies-container2:hover {
        box-shadow: 0 -20px 0 0 rgba(36, 71, 143, 1);
        transition: .15s;
    }

    .t-img-container img {
        width: 20rem;
        height: 22rem;
        object-fit: cover;
        cursor: pointer;
    }

    .t-p-container {
        width: 40rem;
    }

    .t-p-container p {
        font-family: var(--paragraph-font);
        font-weight: 500;
        font-size: 1.5rem;
        color: var(--main-color);
    }

/* MAIN CONTACT ME PAGE */

    .contact-container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        font-family: var(--paragraph-font);
        margin-top: 7rem;
        margin-bottom: 10rem;
    }

    .contact-img-container img{
        width: 45rem;
        height: 45rem;
        object-fit: cover;
    }
    
    .contact-img-container {
        margin: auto auto;
    }

    .contact-text-container {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: 1rem;
    }

    .contact-text-container, .contact-text-container p{
        width: 50rem;
        font-size: 1.1rem;
    }

    .contact-text-container h1 {
        font-family: var(--main-font);
        font-size: 4rem;
        margin-bottom: 2rem;
        margin-top: -8rem;
    }

    .contact-container a {
        text-decoration: none;
        font-weight: 600;
        background-color: var(--main-color);
        border: solid 5px var(--main-color);
        color: white;

        grid-column: 2/3;
        margin-top: -10rem;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: 1rem;
        padding: 1.5rem 2.5rem;
    }

    .contact-container a:hover {
        color: var(--main-color);
        background-color: white;
        border: solid 5px var(--main-color);
        transition: 0.15s;
    }

/* MAIN WORKS PAGE */

    .works-container {
        display: grid;
        grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
    }

    .works-container h1 {
        font-family: var(--main-font);
        font-size: 3.5rem;
        color: var(--main-color);
        margin: auto auto;

        grid-column: 2 / 4;
    }

    .work-container1,
    .work-container2 {
        grid-column: 2 / 4;
        margin: 4rem;
        padding: 0.9rem;

        border: solid 2px var(--main-color);
    }

    .work-container1:hover,
    .work-container2:hover {
        grid-column: 2 / 4;
        margin: 4rem;
        padding: 0.55rem;

        border: solid 8px var(--main-color);
        transition: .1s;
    }

    .work-img-container1,
    .work-img-container2 {
        width: 1296.920px;
        overflow: hidden;
    }

    .work-img-container1 img,
    .work-img-container2 img{
        width: 100%;
        object-fit: cover;
    }
    
    .work-img-container1 img:hover,
    .work-img-container2 img:hover{
        transform: scale(1.1);
        transition: .3s;
        cursor: pointer;
    }

    .work-container1 h2,
    .work-container2 h2{
        text-align: center;
        color: var(--main-color);
        font-family: var(--main-font);
        font-size: 3rem;
    }

    .work-container1 p,
    .work-container2 p{
        text-align: center;
        font-family: var(--paragraph-font);
    }
    
/* FOOTER */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: solid 5px var(--main-color);
    margin-top: 80px;
    background-color: var(--accent-two);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
}

#footer-logo-text {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    font-weight: 500;
    width: 40rem;
}

.footer-logo-container, .footer-details {
    margin: auto auto;
    padding: 3rem;
}

.footer-details h1 {
    margin-top: 0;
    font-family: var(--main-font);
}

.footer-details p {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    font-weight: 600;
}

.footer-contact-details {
    margin-bottom: 15px;
    width: 19rem;
}

.footer-contact-details div {
    display: flex;
    align-items: center;
}

.footer-contact-details div img {
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
}

.footer-sm-logo {
    display: flex;
    justify-content: space-between;
}

.footer-sm-logo img {
    width: 3rem;
}

.sm-logo:hover {
    opacity: 0.8;
}

